<div class="listContent"  draggable="false" dropzone="copy" data-ng-class="{'list-over' : content.isOver}">
    <div draggable="true">{{content.title}}</div>
    <div data-ng-repeat="card in content.cards">
        <card content="card" ></card>
    </div>
    <div  >
        <a class="add-card-link" href="javascript:void(0)" draggable="false"
           data-ng-click="listController.changeStateToAddingCard()"
           data-ng-if="!listController.addingCard">Add a card…</a>

        <div data-ng-if="listController.addingCard">
            <textarea data-ng-model="listController.newCardTitle">
                </textarea>

            <div>
                <button data-ng-click="listController.addCard()" data-ng-disabled="content.addCardDisabled"> Add</button>
            </div>
        </div>

    </div>
</div>